<div class="jain-container">
  <!-- nav start -->
  <div class="jain-header">
    <ul class="menu-list">
      <li>About Jainism</li>
      <li>Bhajan</li>
      <li>Reads</li>
      <li>Download</li>
      <li>Gallery</li>
      <li>How to Reach</li>
      <li>Contact</li>
    </ul>
  </div>


  <!-- content start -->
  <div class="jain-content">
    <!-- side bar start -->
    <div class="jain-side-nav-menu">

      <div class="icon-bar">
        <a class="active" href="#">
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faHospitalUser"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faMusic"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faTheaterMasks"></fa-icon>
        </a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a>
      </div>

    </div>
    <!-- main content section -->
    <div class="jain-main-content">
      <div class="jain-flag"></div>
      main content
    </div>
  </div>

  <!-- footer start -->

  <div class="jain-footer">
    footer
  </div>
</div>
